@font-face {
  font-family: 'MonoSpace-Bold';
  src: url(./SpaceMono-Bold.ttf);
}

@font-face {
  font-family: 'MonoSpace-Regular';
  src: url(./SpaceMono-Regular.ttf);
}

body {
  justify-content: center;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 38px;
}

.top-bar {
  display: flex;
  min-width: 327px;
  min-height: 38px;
  justify-content: space-between;
  gap: 110px;
}

.top-title {
  font-family: "MonoSpace-Bold";
  font-size: 26px;
}

.theme-title {
  font-family: "MonoSpace-Bold";
  font-size: 13px;
  letter-spacing: 2.5px;
}

.theme-switcher {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.theme-image {
  max-width: 20px;
  max-height: 20px;
}

main {
  margin-top: 36px;
}

/* Search Bar */
.search-bar {
  min-height: 60px;
  min-width: 327px;
  display: flex;
  border-radius: 15px;
  padding-left: 16px;
  padding-right: 7px;
  align-items: center;
}

.search-image {
  max-height: 20px;
  max-width: 20px;
}

.search-error {
  display: none;
}

.search-input {
  border-style: none;
  border: none;
  outline: none;
  font-family: "MonoSpace-Regular";
  font-size: 13px;
  padding-left: 8.95px;
  background-color: transparent;
  min-width: 184px;
}

.search-button {
  min-width: 84px;
  min-height: 46px;
  border:none;
  border-style: none;
  background-color: #0079FF;
  color: white;
  font-family: "MonoSpace-Bold";
  font-size: 14px;
  border-radius: 10px;
  margin-left: auto;
}

/* Informations Container*/

.informations {
  margin-top: 16px;
  border-radius: 15px;

  padding-top: 32px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 48px;
  min-width: 327px;
}

.informations-top {
  display: flex;
  gap: 19px;
}

.profile-name {
  font-size: 16px;
  font-family: "MonoSpace-Bold";
}

.profile-tag {
  color: #0079FF;
  padding-bottom: 6px;
}

.profile-tag, .joined-date {
  font-size: 13px;
  font-family: "MonoSpace-Regular";
}


.bio {
  font-size: 13px;
  font-family: "MonoSpace-Regular";
  line-height: 25px;
  padding-top: 33px;
}

.profile-picture {
  max-width: 70px;
  max-height: 70px;
  border-radius: 50%;
}

/* User Statistic Panel */
.profile-stats {
  display: flex;
  margin-top: 23px;
  border-radius: 10px;
  min-height: 85px;
  min-width: 279px;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 18px;
  padding-bottom: 19px;
  align-items: center;
  justify-content: space-between;
}

.name {
  font-family: "MonoSpace-Regular";
  font-size: 11px;
}

.number {
  font-family: "MonoSpace-Bold";
  font-size: 16px;
  text-align: center;
  padding-top: 8px;
}

/* Url Pannel */
.profile-links {
  padding-top: 24px;
  font-family: "MonoSpace-Regular";
}

.location, .url, .twitter, .office {
  display: flex;
}

.location p {
  padding-left: 19.25px;
  font-size: 13px;
  white-space: nowrap;
}

.url a, .twitter a, .office p {
  padding-left: 13.01px;
  font-size: 13px;
  text-decoration: none;
}

.location, .url, .twitter {
  margin-bottom: 16px;
}

/* Effects */
.url a:hover {
  text-decoration: underline;
}

.twitter a:hover {
  text-decoration: underline;
}

.search-button:hover {
  background-color: #60ABFF;
}

@media only screen and (min-width: 768px) {
  body {
    padding-top: 140px;
    padding-right: 98px;
    padding-left: 97px;
    padding-bottom: 236px;
  }

  .search-bar {
    padding-left: 32px;
  }

  .search-input {
    padding-left: 23.94px;
    font-size: 18px;
    min-width: 254px;
  }

  .informations {
    padding: 40px;
    max-height: 481px;
  }

  .profile-picture {
    max-height: 117px;
    max-width: 117px;
  }

  .profile-name {
    font-size: 26px;
    padding-bottom: 2px;
  }

  .profile-tag {
    font-size: 16px;
  }

  .joined-date {
    font-size: 16px;
  }

  .informations-top {
    align-items: center;
    gap: 41px;
  }

  .bio {
    font-size: 15px;
  }

  .profile-stats {
    margin-top: 32px;
    padding-right: 96px;
  }

  .name {
    font-size: 13px;
  }

  .number {
    font-size: 22px;
    text-align: start;
  }

  .profile-links {
    padding-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-right: 104px;
    column-gap: 65px;
  }

  .location {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    margin-bottom: 19px;
  }

  .location p {
    font-size: 15px;
    padding-left: 19.25px;
  }

  .location img {
    max-width: 20px;
    max-height: 20px;
  }

  .url {
    grid-column: 1 / 1;
    grid-row: 2 / 2;
  }

  .url a {
    font-size: 15px;
    padding-left: 13px;
  }

  .url img {
    max-width: 20px;
    max-height: 20px;
  }

  .twitter {
    grid-column: 2 / 2;
    grid-row: 1 / 1;
  }

  .twitter a {
    font-size: 15px;
    white-space: nowrap;
    padding-left: 16px;
  }

  .twitter img {
    max-width: 20px;
    max-height: 20px;
  }

  .office {
    grid-column: 2 / 2;
    grid-row: 2 / 2;
  }

  .office p {
    font-size: 15px;
    padding-left: 16px;
  }

  .office img {
    max-width: 20px;
    max-height: 20px;
  }

}

@media only screen and (min-width: 1440px) {
  body {
    padding-top: 144px;
    padding-left: 355px;
    padding-right: 355px;
    padding-bottom: 170px;
  }

  .informations {
    display: grid;
    grid-template-columns: 25% 75%;
    padding: 48px;
    padding-bottom: 0px;
  }

  .informations-top {
    grid-column: 1 / 3;
    grid-row: 1 / 1;
  }

  .bio {
    grid-column: 2 / 2;
    grid-row: 2 / 2;
    padding: 0;
    transform: translateY(-30px)
  }

  .profile-stats {
    grid-column: 2 / 2;
    grid-row: 3 / 3;
    transform: translateY(-30px)
  }

  .profile-links {
    grid-column: 2 / 2;
    grid-row: 4 / 4;
    transform: translateY(-20px)
  }

  .profile-info {
    align-self: baseline;
    display: grid;
    column-gap: 138px;
  }

  .joined-date {
    grid-column: 2 / 2;
    grid-row: 1 / 1;
    align-self: center;
    white-space: nowrap;
    font-size: 15px;
  }

  .profile-name {
    white-space: nowrap;
  }

}
